body {
  margin: 0px;
  width: 100%;

  display: flex;
  justify-content: center;

  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: hsl(209, 33%, 12%);
}

#coming-soon {
  width: 650px;
  /* margin: 80px 3.47% 0px 3.47%; */
  margin-top: 80px;
  background-color: white;

  display: flex;
  gap: 45px;
  flex-direction: column;
  align-items: center;
}

#logo {
  width: 86px;
}

#desc {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

#header {
  font-size: 40px;
  color: hsl(0, 0%, 59%);
  margin: 0px;
  text-align: center;
}

span {
  font-weight: 700;
  color: hsl(209, 33%, 12%);
}

#text {
  margin: 10px 0px;
}

#user-input {
  width: 100%;
  height: 50px;
  display: flex;
  gap: 2%;
}

#email-input {
  padding: 0px 25px;
  width: calc(69% - 50px);
  border-radius: 30px;
  border-color: hsla(223, 100%, 88%, 0.5);
  border-style: solid;
}

#email-input::placeholder {
  color: hsl(223, 100%, 88%);
}

#input-btn {
  width: 29%;
  border-radius: 30px;
  background-color: hsl(223, 87%, 63%);
  border: 0px;

  color: white;
  font-weight: 600;
}

#input-btn:hover {
  background-color: hsla(223, 87%, 63%, 0.75);
  cursor: pointer;
}

#error-msg {
  width: 650px;
  font-size: 14px;
  font-style: italic;
  color: hsl(354, 100%, 66%);

  visibility: hidden;
  position: absolute;
  transform: translateX(3%) translateY(250%);
}

#illu {
  max-width: calc(100% - 10px);
  padding: 45px 10px;
}

#footer {
  width: 100%;
  text-align: center;
}

#icons {
  display: flex;
  gap: 3.13%;
  justify-content: center;
  align-items: center;
}

.icon {
  padding: 5px;
  border: 1px solid hsla(223, 100%, 88%, 0.5);
  border-radius: 50%;
}

.icon:hover {
  background-color: hsl(223, 87%, 63%);
  cursor: pointer;
}

.icon:hover path {
  fill: white;
}

#footer-text {
  font-size: 16px;
  color: hsl(0, 0%, 59%);
}

@media (max-width: 750px) {
  #coming-soon {
    width: calc(100% - 100px);
    margin: 80px 50px 0px 50px;
  }

  #error-msg {
    width: calc(100% - 200px);
  }
}

@media (max-width: 480px) {
  #user-input {
    flex-direction: column;
    gap: 20px;
    height: 120px;
  }

  #email-input {
    width: calc(100% - 54px);
    height: 50px;
  }

  #input-btn {
    width: 100%;
    height: 50px;
  }

  #error-msg {
    text-align: center;
  }
}
